{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

{% if object %}
    <h1>Edit {{object.title}}</h1>
    <p>Please note:</p>
    <ul>
      <li class="direction-list"><u>Episodes</u>: enter the total number of episodes in the entire series across all seasons for TV shows (enter 1 for movies)</li>
      <li class="direction-list"><u>Timestop</u>: Enter the time at which you last left off in the episode or movie (in minutes)</li>
      <li class="direction-list"><u>Progress</u>: Enter the last episode number you watched</li>
    </ul>
  {% else %}
    <h1>Add a Show or Movie</h1>
  

    <div class="page-header">
        <p>Please note:</p>
        <ul>
          <li class="direction-list"><u>Type</u>: Enter "TV Series" or "Movie"</li>
          <li class="direction-list"><u>Runtime</u>: Enter the average or maximum length of an episode, or the total runtime of a movie (in minutes)</li>
          <li class="direction-list"><u>Episodes</u>: enter the total number of episodes in the entire series across all seasons for TV shows (enter 1 for movies)</li>
          <li class="direction-list"><u>Timestop</u>: Enter the time at which you last left off in the episode or movie (in minutes)</li>
          <li class="direction-list"><u>Progress</u>: Enter the last episode number you watched</li>
        </ul>
    </div>
  {% endif %}

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}