{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<div class="home-content-container">
  <img src="{% static 'images/buffering.png'  %}" class="buffer-icon">
  <h2>Welcome to ScreenMarker! The application that allows you to log and keep track of the progress you've made on watching your favorite tv shows and films!</h2>


{% if user.is_authenticated %}
<p>You are logged in. Add a show or movie to get started</p>
{% else %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% endif %}

</div>


{% endblock %}