.default-screenmarker-icon {
  width: 20%;
  height: auto;
}

.shows-container {
  border: 10px solid black;
  border-radius: 15px;
  text-align: center;
  color: black;
}

.show-links {
  text-decoration: none;
}

.container-outta-loop {
  display: flex;
  flex-flow: row wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.page-header {
  text-align: center;
}